@if (isLoading){
  <div class="pokemon">
  </div>
}@else{

  <div class="pokemon-body" [style.backgroundColor]="backgroundColor">
    <div class="back-button">
      <button (click)="goHome()"><</button>
    </div>
  
    <div class="pokemon-container">
      <img class="pokemon-image" [src]="pokemon?.sprites?.other?.['official-artwork']?.front_default"
           [alt]="pokemon?.name">
      <h1>{{ pokemon?.name | titlecase }}</h1>
  
      <!-- Type Badges -->
      <div class="types">
        @for (type of pokemon?.types; track type.type.name){
          <span [style.backgroundColor]="getTypeColor(type.type.name)">
            {{ type.type.name | uppercase }}
          </span>
        }
      </div>
  
      <!-- Description -->
      <p class="description">{{ pokemon?.description }}</p>
  
      <!-- Tabs -->
      <div class="tabs">
        <button [style.backgroundColor]="selectedTab === 'stats'?backgroundColor : 'white'"
                [style.color]="selectedTab === 'stats' ? 'white' : backgroundColor"
                (click)="changeTab('stats')">Stats
        </button>
        <button [style.backgroundColor]="selectedTab === 'evolutions'?backgroundColor : 'white'"
                [style.color]="selectedTab === 'evolutions' ? 'white' : backgroundColor"
                (click)="changeTab('evolutions')">Evolutions
        </button>
      </div>
  
      <!-- Stats Section -->
       @if (selectedTab === 'stats'){
        <div class="stats">
          @for (stat of pokemon?.stats; track stat.stat.name){
            <div class="stat-container">
              <p class="stat-name" [style.color]="backgroundColor">{{ stat.stat.name.toUpperCase() }}
                : {{ stat.base_stat }}</p>
              <div class="stat-bar">
                <div class="progress" [style.backgroundColor]="backgroundColor" [style.width.%]="stat.base_stat"></div>
              </div>
            </div>
          }
        </div>
       }
  
      <!-- Evolutions Section -->
       @if (selectedTab === 'evolutions' && pokemon?.evolutionChainId){
        <div class="evolutions">
          <app-evolution [backgroundColor]="backgroundColor" [evolutionChainId]="pokemon.evolutionChainId" ></app-evolution>
        </div>
       }
    </div>
  </div>

}

