<div class="evolution-chain">
  @if (evolutionData?.pokemon_v2_evolutionchain?.[0]?.pokemon_v2_pokemonspecies; as species){
    <div class="evolution-container">
      @for (pokemon of species; let i = $index; track pokemon.name){
        <div class="evolution-stage">
          <div class="pokemon-info">
            @if (pokemon.pokemon_v2_pokemons?.[0]?.pokemon_v2_pokemonsprites?.[0]?.sprites){
              <img
              [src]="pokemon.pokemon_v2_pokemons[0].pokemon_v2_pokemonsprites[0].sprites"
              [alt]="pokemon.name"
              class="pokemon-image"
              />
            }
            <p class="pokemon-name">{{ pokemon.name | titlecase }}</p>
          </div>
          @if (i < species.length - 1){
            <span [style.color]="backgroundColor" class="evolution-arrow">&rarr;</span>
          }
        </div>
      }
    </div>
  }

</div>
